<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Demo Test Suite" verbose="1">
    <listeners>
        <listener class-name="com.testvagrant.listeners.ScreenshotListener"/>
        <listener class-name="com.aventstack.extentreports.testng.listener.ExtentITestListenerAdapter"/>
    </listeners>
    <test name="Functional Tests">
        <classes>
            <class name="com.testvagrant.functional_tests.TestValidateWeatherInfo"/>
        </classes>
    </test>
</suite>
